@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Dancing+Script&family=Poppins:wght@100&display=swap');

*
{
    margin:0;
    padding:0;
    
    text-decoration: none;
    border: none;
    
}
html{
    scroll-behavior: smooth;
}

body{
    background-color:  black;
    color:white;
    font-family: "poppins",sans-serif;
    min-height: 200vh;
    min-width: 100%;
   

   

}
section{
    padding: 5rem 10rem 2rem ;
    height:105vh;
   
}
navbar
{
    
    background: rgb(37, 37, 37);
    display:flex;
    justify-content: space-between;
    align-items: center;
    min-height: 5vh;
    border-radius: 10px;
    position: fixed;
    top: 0;
    min-width: 100%;
   
}

navbar .right_navbar ul
{
    display: flex;
    justify-content: space-around;
}
navbar .right_navbar ul li{
    list-style: none;
    margin: 0 40px;
    text-decoration: none;
    font-weight: bold;

}
navbar .right_navbar ul li a 
{
    text-decoration: none;
    color: white;
}
.right_navbar ul li a:hover{
    color: aqua;
    font-size: large;
    text-shadow: 0 0 10px aqua,0 0 40px aqua,0 0 80px aqua ;
    
}
.home
{
    display:flex;
    justify-content: space-around;
    margin: 23px 0;

}

section .intro
{
    min-width: 50%;
}
section .myself p
{
    font-size: 1.5rem;
    font-weight: 900;
    margin: 60px 0;


}
.social-media
{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

 .social-media a{
    font-size: 1.2rem;
    background:transparent;
    color:aqua;
    border: 2px solid aqua;
    padding:0.5rem;
    border-radius: 50%;
 }
 .social-media a:hover{
    background: aqua;
    color:black;
    box-shadow:0 0 10px aqua, 0 0 40px aqua , 0 0 80px aqua ;
 }

.profile_pic img
{
    width:50vh;
    height: 50vh;
    border-radius: 50%;
    border: 10px solid aqua;
    transition: 500ms;
    margin-top: 100px;

}
.profile_pic img:hover{
    box-shadow: 0 0 10px aqua,0 0 40px aqua,0 0 80px aqua;
}

 .name_color
{
font-size: 2.5rem;
font-weight: 900;
text-shadow: 0 0 10px aqua,0 0 40px aqua,0 0 80px aqua ;

color: aqua;


}
.welcome
{   
    max-width: 85%;
    margin-top: 50px;
    text-align: start;
    overflow:auto;

}

 .welcome p
{
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: 900;
    
}
.break
{   margin: 50px ;
    margin-left: 80px;
  
    width: 90%;
    height:1px;
    border: 1px solid;
    color: aqua;
    box-shadow:0 0 10px aqua, 0 0 40px aqua , 0 0 80px aqua ;
}



.about .title{
    text-align: center;
}

.about .title h1
{
    font-size: 2.5rem;
}
.about .Cards
{
    text-align: center;
    background: rgb(53, 53, 53);
    width:30%;
    height: 60vh;
    border-radius: 10px;

}
.about-me
{
  display: flex;
  justify-content: space-around;
  
  margin-top: 50px;
  
}
.Cards img{
    margin-top: 20px;
    
    width: 300px;
    height: 60%;
    border-radius: 10px;

}
.Cards:hover
{
    border: 2px solid aqua ;
    box-shadow: 0 0 10px aqua,0 0 40px aqua,0 0 80px aqua;
   
   
}
.about-me button{
    margin: 20px 0px;
    padding: 10px 30px;   
    border-radius: 15px;
    background: aqua;
    
    font-size: medium;
    font-weight: 700;
}
.about-me button:hover{
    box-shadow: 0 0 10px aqua,0 0 40px aqua,0 0 80px aqua;
    font-size: 1.1rem;

}

.about_first_card h1
{
text-transform: uppercase;
text-align: center;
font-size: 2.5rem;

text-shadow: 0 0 10px white,0 0 40px white,0 0 80px white ;
/* display: flex;
justify-content: center; */
}
.about_first_card .maintree
{
    width:100%;
    background: white;
    height: 2px;
    margin-top: 100px;
    margin-left: 20px;
    
    box-shadow: 0 0 10px white,0 0 40px white,0 0 80px white;
}

.about_first_card .subtree
{
    display: flex;
    justify-content: space-between;
  
}
.about_first_card .subtrees
{
    height:100px;
    width:2px;
    background-color: white;
    margin-left: 50px;
    box-shadow: 0 0 10px white,0 0 40px white,0 0 80px white;
}
.about_first_card .subtreess
{
    height:150px;
    width:2px;
    background-color: white;
    margin-left: 50px;
    box-shadow: 0 0 10px white,0 0 40px white,0 0 80px white;
}


